<% wrap_layout :layout do %>

  <h1 id="title"><%= current_page.data.title %></h1>

  <%= partial "/_includes/issue/metadata", locals: {
    metadata: current_page.data
  } %>

  <%= partial "/_includes/issue/code", locals: {
    title: current_page.data.title
  } %>


  <%= yield %>


  <%= partial "/_includes/issue/related", locals: {
    slugs: current_page.data.related
  } %>

  <%= partial "/_includes/issue/audittools", locals: {
    tools: current_page.data.audittools
  } %>

<% end %>
